.page__top__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.25;
    text-align: center;
    margin: 0;
}

.page__top {
    background: #E4EFF3;
    padding: 65px 0;
    margin-bottom: 32px;
}

.page__container {
    padding-bottom: 120px;
}

.page__container.page__container--zero {
    padding-bottom: 0;
}

.page__feature__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.page__feature__item {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    border-radius: 8px;
    width: calc(100% / 3 - 12px);
}

.page__feature__item {
    transition: 0.25s;

}

.page__feature__item:hover {
    background: #07757a;
    color: #fff;
}

.page__feature__item:hover .page__feature__item__title {
    color: #fff;
}

.page__feature__item:hover .page__feature__item__text {
    color: #fff;
}

.page__feature__item:hover .page__feature__item__text p:before {
    background: #fff
}

.page__feature__item:hover .page__feature__item__icon {
    filter: brightness(10)
}

.page__feature__item__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #08757A;
    margin-bottom: 15px;
}

.page__feature__item__icon {
    width: 60px;
    font-size: 0;
    margin-bottom: 10px;
}

.page__feature__item__text {
    color: #484848;
}

.page__feature__item__text p {
    position: relative;
    margin-bottom: 15px;
    padding-left: 25px;
    line-height: 1.25;
}

.page__feature__item__text p:last-child {
    margin-bottom: 0;
}

.page__feature__item__text p:before {
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    background: #484848;
    border-radius: 50%;
    left: 7.5px;
    top: 7.5px;
}




@media screen and (max-width:1100px) {
    .page__feature__item {
        width: calc(50% - 8px);
    }
}

@media screen and (max-width:800px) {
    .page__top__title {
        font-size: 24px;
    }

    .page__top {
        padding: 36px 0;
    }

    .page__feature__item {
        width: 100%;
    }
}

@media screen and (max-width:550px) {

    .page__feature__item {
        padding: 20px;
    }

    .page__feature__item__title {
        font-size: 20px;
        max-width: 260px;
    }

    .page__feature__item__text p {
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 1.35;
    }

    .page__feature__item__text p:before {
        left: 3px;
        top: 9px;
    }

    .page__container {
        padding-bottom: 75px;
    }
}