.page__top__text {
    margin-top: 20px;
    text-align: center;
    color: #484848;
    max-width: 570px;
    margin: 20px auto 0;
}

.page__our_company__bottom {
    padding: 64px 0;
    background: #F5F9FA;
}

.page__our_company__bottom__inner {
    max-width: 340px;
    margin: 0 auto;
    text-align: center;
}

.page__our_company__t_title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    color: #087378;
    margin-bottom: 15px;
}

.page__our_company__t_text p {
    margin-bottom: 20px;
    color: #484848;
}

.page__our_company__t {
    border-left: 1px solid #78BEC1;
    padding-left: 20px;
    max-width: 775px;
    margin: 0 auto;
    padding: 5px 20px;
}

.page__our_company {
    padding-bottom: 80px;
}

.our_company__block_1 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    margin: 0 auto 75px;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 30px -20px #00000075;
}

.page__our_company__bottom__title {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.page__our_company__bottom__text {
    margin-bottom: 24px;
}

.btn_page__our_company__bottom {
    min-width: 140px;
}

.our_company__block_1__item {
    width: 50%;
    padding: 40px 35px 44px;
    min-height: 290px;
    transition: 0.25s;
}

.our_company__block_1__item__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.25;
    color: #087378;
    margin-bottom: 16px;
}

.our_company__block_1__item__text p {
    margin-bottom: 16px;
}

.our_company__block_1__item__text p:last-child {
    margin-bottom: 0;
}

.our_company__block_1__item--dark {
    background: #192C2D;
    color: #fff;
}

.our_company__block_1__item--dark .our_company__block_1__item__title {
    color: #fff;
}

.our_company__block_1__item--green {
    background: #08757A;
    color: #fff;
}

.our_company__block_1__item--green .our_company__block_1__item__title {
    color: #fff;
}

.our_company__block_1__item:hover {
    color: #fff;
    background: #087378;
}

.our_company__block_1__item:hover .our_company__block_1__item__title {
    color: #fff
}


.page__our_company__t_text p:last-child {
    margin-bottom: 0;
}




@media screen and (max-width:800px) {
    .page__top__text {
        font-size: 14px;
        max-width: 400px;
        margin-top: 15px;
    }

    .page__our_company__bottom__title {
        font-size: 21px;
        line-height: 1.25;
        margin-bottom: 17px;
    }

    .page__our_company__bottom__text {
        font-size: 14.5px;
        margin-bottom: 24px;
    }

    .btn_page__our_company__bottom {
        width: 100%;
        max-width: 300px;
    }

    .page__our_company__bottom__inner {
        max-width: 320px;
    }

    .page__our_company__bottom {
        padding: 55px 0;
    }

    .page__our_company {
        padding-bottom: 45px;
    }

    .page__our_company__t {
        padding-right: 0;
    }

    .page__our_company__t_title {
        font-size: 22px;
        margin-bottom: 18px;
    }

    .page__our_company__t_text {
        font-size: 14px;
        line-height: 1.45;
    }


    .our_company__block_1__item {
        width: 100%;
        min-height: 0;
        padding: 32px 32px 40px;
    }

    .our_company__block_1 {
        box-shadow: 0 0 30px -15px #00000075;
        border-radius: 30px;
        margin-bottom: 50px;
    }


    .our_company__block_1__item:nth-child(3) {
        order: 2;
    }

    .our_company__block_1__item__title {
        font-size: 22px;
        margin-bottom: 22px;
    }

    .our_company__block_1__item__text {
        font-size: 14px;
        max-width: 550px;
    }
}





@media screen and (max-width:550px) {

    .our_company__block_1__item__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .our_company__block_1 {
        border-radius: 20px;
        margin-bottom: 35px;
    }

    .our_company__block_1__item {
        padding: 25px 22px;
    }
}