.page__top__title__add {
    text-align: center;
    font-weight: bold;
    font-size: 23px;
    margin-top: 23px;
    margin-bottom: -12px;
}

.page__top__text a {
    color: #08757A;
}

.page__top__text a:hover {
    text-decoration: none;
    color: inherit;
}

.price_x_th__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    /* identical to box height */
    color: #087378;
    margin-bottom: 2px;
}

.price_x_th__price__value {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    color: #2F2F2F;
}

.price_x_th__price {
    display: inline-flex;
    align-items: center;
    color: #898989;
    font-size: 14px;
    gap: 5px;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
}

.price_x_th__price sub {
    padding-bottom: 17px;
}

.price_x_th {
    text-align: center;
    border-radius: 8px;
    transition: 0.25s;
    padding: 25px 10px 26px;
}

.price_x_col__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #DEEEEF;
}

.price_x_col {
    flex: 1;
}

.price_x_col--1 {
    width: 240px;
    flex: none;
}

.price_x_th__link {
    color: #087378;
    font-weight: 600;
    text-decoration: none;
}

.price_x_th__link:hover {
    color: inherit;
}

.price_x_th:hover {
    background: #087378;
    color: #fff;
}

.price_x_th:hover .price_x_th__price {
    color: #fff
}

.price_x_th:hover .price_x_th__link {
    color: #fff;
    font-weight: 700;
}

.price_x_th:hover .price_x_th__price__value {
    color: #fff
}

.price_x_th:hover .price_x_th__title {
    color: #fff;
}

.price_x_table__tbody .price_x_col {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    padding: 12px;
}

.price_x_col.price_x_col--1.price_x_col--title {
    justify-content: flex-start;
    color: #087378;
    background: #DEEEEF;
    border-bottom: 1px solid rgba(8, 115, 120, 0.1);
    padding: 12px 20px 9px;
    line-height: 1.1;
}

.price_x_table__tbody {
    color: #484848;
    font-weight: 600;
    border-radius: 8px;
    overflow: hidden;
}

.price_x_table {
    margin-bottom: 150px;
}

.loaded .price_x_table__tbody .price_x_col__row {
    transition: 0.25s;
}

.price_x_table__tbody .price_x_col__row:hover {
    background: rgba(222, 238, 239, 0.5);
}



@media screen and (max-width:1300px) {
    .price_x_table {
        width: 1300px;
    }

    .price_x_table__wrap {
        overflow: scroll;
        margin: 0 -20px;
    }
}


@media screen and (max-width:800px) {

    .page__top__title__add {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: -5px;
    }

    .page__top__title__add+.page__top__text {
        max-width: 300px;
    }
}


@media screen and (max-width:600px) {

    .price_x_col--1 {
        width: 125px;
    }

    .price_x_table {
        font-size: 12px;
        padding: 0;
        width: 675px;
    }

    .price_x_col.price_x_col--1.price_x_col--title {
        padding: 10px 5px 8px 12px;
        text-align: left;
    }

    .price_x_table__tbody {
        border-radius: 0;
    }

    .price_x_th__title {
        font-size: 18px;
        margin-bottom: 4px;
    }

    .price_x_th__price__value {
        font-size: 20px;
    }

    .price_x_th__price sub {
        padding-bottom: 12px;
    }

    .price_x_th {
        padding: 25px 5px 26px;
        height: 100%;
    }

    .price_x_th__addtitle {
        margin-bottom: 4px;
    }
    .price_x_table {
        margin-bottom: 75px;
    }
}