.biling_content__item {
    display: none;
}

.biling_content__item.active {
    display: block;
}

.biling_content {
    padding: 40px 0 0;
}

.content_billing_table__col {
    flex: 1;
    padding: 0 10px;
}

.content_billing_table__col--1 {
    flex: 1;
}

.content_billing_table__col--2 {
    flex: 0.75;
}

.content_billing_table__col--3 {
    flex: 1.25;
}

.content_billing_table__col--4 {
    flex: 0.75;
    justify-content: center;
    text-align: center;
}

.content_billing_table__col--5 {
    flex: 0.75;
    text-align: center;
}

.content_billing_table__col--6 {
    flex: 0.5;
    text-align: center;
}

.content_1_table__td_value a {
    color: #087378;
    text-decoration: none;
}

.content_1_table__td_value a:hover {
    color: inherit;
}

.biling_pay_method_content__item {
    display: none;
}

.biling_pay_method_content__item.active {
    display: block;
}

.biling_pay_method_tab {
    border-bottom: 1px solid #DEE3EB;
    display: flex;
    gap: 48px;
    max-width: 540px;
}

.biling_pay_method_tab a {
    padding: 10px 0 12px;
    display: inline-flex;
    color: inherit;
    text-decoration: none;
    position: relative;
}

.biling_pay_method_tab a.active {
    font-weight: 700;
    font-size: 18px;
}

.biling_pay_method_tab a:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    background: #07757a;
    height: 3px;
    transition: 0.25s;
    opacity: 0;
}

.biling_pay_method_tab a.active:after {
    opacity: 1;
}

.biling_pay_method_content {
    max-width: 540px;
    padding: 40px 0;
}

.field_x.field_x--card_number {
    flex: 2;
}

.field_x.field_x--card_date {
    flex: 0.75;
}

.field_x.field_x--card_cvv {
    flex: 0.5;
}

.content_billing_select {
    max-width: 275px;
    margin-bottom: 40px;
}

.page__account__x_content_1_table_x--billing {
    min-width: 875px;
}

.biling_pay_method_paypal {
    max-width: 360px;
}

.biling_pay_method_content__pay_x_item__inner {
    border: 1px solid #898989;
    border-radius: 8px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 30px 30px;
    gap: 32px;
    position: relative;
    padding-right: 75px;
    transition: 0.25s;
    background: #fff;
}

.biling_pay_method_content__pay_x_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.biling_pay_method_content__pay_x_item__x input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.biling_pay_method_content__pay_x_item__icon {
    border: 2px solid #898989;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
}

.biling_pay_method_content__pay_x_item__card {
    background: #FFFFFF;
    border-radius: 4px;
    width: 39px;
    height: 26px;
    font-size: 0;
    box-shadow: 0 0 20px -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.biling_pay_method_content__pay_x_item__x input:checked+.biling_pay_method_content__pay_x_item__inner {
    background: #2DA899;
    border-color: #2DA899;
    color: #fff;
}

.biling_pay_method_content__pay_x_item__x input:checked+.biling_pay_method_content__pay_x_item__inner .biling_pay_method_content__pay_x_item__icon {
    border-color: #fff;
}

.biling_pay_method_content__pay_x_item__card img {
    width: 24px;
    margin: 0 auto;
    display: block;
}

.biling_pay_method_content__pay_x_item__card__remove {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 0;
}

.biling_pay_method_content__pay_x_item__card__remove button {
    background: transparent;
    border: none;
}

.biling_pay_method_content__pay_x_item__icon:before {
    content: '';
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
    background: #fff;
    position: absolute;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 0;
}

.biling_pay_method_content__pay_x_item__x input:checked+.biling_pay_method_content__pay_x_item__inner .biling_pay_method_content__pay_x_item__icon:before {
    opacity: 1;
}

.biling_pay_method_content__pay_x_item__card__remove button:hover {
    opacity: 0.5;
}

.biling_pay_method_new_card {
    padding: 32px 0;
    display: none;
}

.biling_pay_method_content__pay_x_item__card__remove button path {
    stroke: #2e2f2f;
}


.biling_pay_method_content__pay_x_item__x input:checked+.biling_pay_method_content__pay_x_item__inner .biling_pay_method_content__pay_x_item__card__remove path {
    stroke: #fff;
}

.field_x_row--btn.field_x_row--btn__pay .btn_field_x {
    max-width: 275px;
    padding: 13px;
}

.field_x__field input.card_number {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 4H3C1.89543 4 1 4.89543 1 6V18C1 19.1046 1.89543 20 3 20H21C22.1046 20 23 19.1046 23 18V6C23 4.89543 22.1046 4 21 4Z' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 10H23' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    padding-left: 55px;
}

.biling__usage {
    display: flex;
    gap: 24px;
    max-width: 830px;
    width: 100%;
    flex-direction: column;
}

.biling__usage__info {
    width: 100%;
    border: 1px solid #2DA899;
    border-radius: 8px;
    padding: 28px;
}

.biling__usage__info__title {
    font-size: 22px;
    margin-bottom: 12px;
}

.biling__usage__info__value__line {
    background: #DEE3EB;
    border-radius: 16px;
    height: 14px;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.biling__usage__info.biling__usage__info--good .biling__usage__info__value__x__count {
    color: #2DA899;
}

.biling__usage__info__value__x__count {
    font-size: 24px;
    font-weight: bold;
}

.biling__usage__info__value__block {
    border-bottom: 1px solid #DEE3EB;
    padding-bottom: 22px;
    margin-bottom: 18px;
}

.biling__usage__info__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn_biling__usage_remove {
    margin-top: 20px;
    display: inline-flex;
    color: #087378;
    font-weight: 600;
    border: 2px solid #087378;
    border-radius: 4px;
    padding: 11px 29px;
}

.btn_biling__usage_remove:hover {
    background: #087378;
    color: #fff;
}

.btn_biling__usage_upgrade {
    margin-top: 15px;
}

.biling__usage__info__value__line__inner {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #999;
    transition: 0.25s;
}

.biling__usage__info--good .biling__usage__info__value__line__inner {
    background: #50CE8A;
}

.biling__usage__info--normal .biling__usage__info__value__line__inner {
    background: #E89960;
}

.biling__usage__info--bad .biling__usage__info__value__line__inner {
    background: #CB4123;
}

.biling__usage__info.biling__usage__info--normal .biling__usage__info__value__x__count {
    color: #E89960;
}

.biling__usage__info.biling__usage__info--bad .biling__usage__info__value__x__count {
    color: #CB4123;
}

@media screen and (max-width:600px) {
    .content_billing_table__col--1 {
        flex: 0.85;
    }

    .field_x_row.field_x_row--card {
        gap: 10px;
    }

    .field_x.field_x--card_cvv {
        flex: 0.75;
    }

    .field_x.field_x--card_number {
        flex: 1.75;
    }
}