.my_account--page {
    background: #FAFAFA;
}

.my_account--page .container {
    max-width: 1440px;
}

.loaded .page__account__menu__text {
    transition: 0.25s;
}

.loaded .page__account__bar {
    transition: 0.25s
}

.my_account--page .header_main {
    display: none;
}

.page__account__bar {
    background: #2F2F2F;
    position: fixed;
    color: #C9CFD4;
    width: 250px;
    z-index: 10;
}

.page__account__bar:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(-1 * ((100vw - 1400px) / 2));
    width: calc((100vw - 1400px)/ 2 + 2px);
    background: #2f2f2f;
}

.page__account__logo {
    display: block;
    font-size: 0;
    margin-bottom: 65px;
}

.page__account__menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page__account__menu a {
    color: inherit;
    text-decoration: none;
    align-items: center;
    display: flex;
    gap: 10px;
    font-weight: 600;
    padding: 16px;
    border-radius: 8px;
}

.page__account__menu svg {
    width: 24px;
}

.page__account__menu a:hover {
    background: rgba(255, 255, 255, 0.06);
}

.page__account__inner {
    display: flex;
}

.page__account__top__title {
    font-weight: 600;
    font-size: 28px;
}

.page__account__content {
    width: 100%;
    padding-left: 230px;
}

.page__account__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border-bottom: 1px solid #DEE3EB;
    padding: 30px 30px 24px 50px;
}

.page__account__top_info {
    gap: 8px 16px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.page__account__top__notification {
    display: flex;
    align-items: center;
    gap: 8px;
    background: rgba(241, 176, 48, 0.3);
    border-radius: 4px;
    padding: 7px 12px;
    color: #484848;
}

.page__account__top__notification svg {
    margin-top: 0px;
}

.page__account__top__subinfo {
    display: flex;
    align-items: center;
    gap: 25px;
}

.page__account__top__help a {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.page__account__top__help a:hover {
    color: #08757A;
}

.page__account__top__help a:hover path {
    stroke: #08757A;
}

.page__account__top__help a path {
    transition: 0.25s;
}

.page__account__top__help a svg {
    margin-top: -1px;
}

.page__account__top__user {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}



.page__account__top__help {
    display: flex;
    align-items: center;
    margin-bottom: -1px;
}

.page__account__top__user__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.page__account__top__user__avatar img {
    width: 100%;
    height: 100%;
}

.page__account__top__notification a {
    color: inherit;
    font-weight: 700;
}

.page__account__top__notification a:hover {
    color: #08757a;
    text-decoration: none;
}


.page__account__bar__inner {
    padding: 25px 20px 25px 0;
    height: 100vh;
    overflow: scroll;
}

.page__account__bar__inner::-webkit-scrollbar {
    display: none;
}

.page__account__bar__inner {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.header_btn_menu__myaccount {
    display: none;
}

.page__account__top__notification__inner {
    flex: 1;
    line-height: 1.2;
}

.page__account__menu__text {
    flex: 1
}

.btn_dark_mode {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #2e2f2f;
    border-radius: 50%;
    font-size: 0;
    padding: 2px;
    margin-left: 14px;
    transition: 0.25s;
}

.btn_dark_mode svg {
    width: 100%;
    height: auto;
}

.btn_dark_mode:hover {
    opacity: 0.75;
}

.btn_dark_mode path {
    fill: #2e2f2f;
    transition: 0.25s;
}

.page__account__top__user__modal {
    position: absolute;
    top: calc(100% + 20px);
    box-shadow: 0px 4px 10px rgba(8, 117, 122, 0.1);
    background: #fff;
    border-radius: 8px;
    border: 1px solid #08757A;
    width: 175px;
    right: 0;
    padding: 9px 0 4px;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, -10px);
}

.page__account__top__user {
    position: relative;
    cursor: pointer;
}

.page__account__top__user__modal ul {
    list-style: none;
}

.page__account__top__user__top {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

.page__account__top__user__notification {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    background: #087378;
    width: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    border-radius: 50%;
    font-size: 12px;
}

.page__account__top__user__modal:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    height: 20px;
    background: transparent;
}

.loaded .page__account__top__user__modal {
    transition: 0.25s;
}

.page__account__top__user__modal a {
    padding: 3px 16px;
    align-items: center;
    text-decoration: none;
    width: 100%;
    display: flex;
    color: inherit;
    font-weight: 400;
    gap: 15px;
}

.page__account__top__user__account__link {
    font-size: 16px;
    color: #087378;
    font-weight: 600;
    transition: 0.25sauto
}


.page__account__top__user__modal a:hover .page__account__top__user__account__link {
    color: inherit
}

.page__account__top__user__modal__logout {
    border-top: 1px solid #08494c;
    margin-top: 7px;
}

.page__account__top__user__modal__logout a {
    padding: 8px 16px;
}

.page__account_tickets {
    background: #07757a;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 600;
}

.page__account__top__user__modal a:hover {
    color: #087378;
}

.page__account__top__user__modal__logout a:hover path {
    stroke: #087378;
}

.page__account__top__user:hover .page__account__top__user__modal {
    opacity: 1;
    transform: translate(0, 0);
    visibility: visible;
}


@media screen and (max-width:1440px) {
    .page__account__bar:before {
        display: none;
    }

    .page__account__bar {
        margin-left: -20px;
    }

    .page__account__bar__inner {
        padding: 25px 30px;
    }
}


@media screen and (max-width:1000px) {


    .btn_dark_mode {
        margin-left: 7px;
    }

    .page__account__x {
        padding: 40px 0 100px 24px;
    }

    .page__account__bar.active {
        width: 310px;
    }

    .page__account__bar.active .page__account__menu__text {
        max-width: 200px;
    }

    .page__account__bar.active .page__account__menu a {
        gap: 13px;
    }

    .page__account__bar.active .page__account__logo {
        margin-left: 23px;
        margin-bottom: 10px;
        width: 72px;
    }

    .page__account__menu__text {
        max-width: 0px;
        overflow: hidden;
    }

    .page__account__top {
        flex-direction: column;
        align-items: flex-start;
        padding: 15px 0px 15px 24px;
        font-size: 14px;
        position: relative;
    }

    .page__account__top__subinfo {
        align-self: flex-end;
        gap: 20px;
        position: absolute;
        top: 15px;
        right: 0;
        width: 320px;
        justify-content: flex-end;
    }

    .page__account__top_info {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
        width: 100%;
        display: inline-flex;
        padding-right: 220px;
    }

    .page__account__menu a {
        padding: 13px 20px;
        border-radius: 0;
        font-size: 14px;
        gap: 0;
    }

    .page__account__logo {
        width: 42px;
    }

    .page__account__bar__inner {
        padding: 20px 0px 10px;
    }

    .page__account__logo {
        margin: 0 8px 18px;
    }

    .page__account__menu svg {
        width: 16px;
    }

    .page__account__content {
        width: 100%;
        padding-left: 40px;
    }

    .page__account__bar {
        width: 60px;
    }

    .page__account__menu ul {
        gap: 0;
    }

    .header_btn_menu__myaccount {
        display: flex;
    }

    .page__account__top__help {
        gap: 20px;
    }
}

@media screen and (max-width:750px) {

    .page__account__top__user__modal {
        left: 0;
        right: auto;
    }

    .page__account__top_info {
        padding: 0;
        gap: 5px;
        font-size: 13px;
    }

    .page__account__top__title {
        font-size: 20px;
    }

    .page__account__top__subinfo {
        position: static;
        width: 100%;
        justify-content: space-between;
        order: -1;
    }



    .page__account__top__user {
        flex-direction: row-reverse;
        gap: 14px;
    }

    .page__account__top {
        gap: 12px;
        padding: 15px 0 15px 20px;
    }

    .page__account__content {
        margin-right: -5px;
    }

}



@media screen and (max-width:600px) {
    .page__account__bar {
        left: -40px;
    }

    .page__account__bar.active {
        left: 20px;
    }

    .page__account__content {
        padding-left: 0;
    }

    .page__account__top {
        padding: 15px 0;
    }
}