.content_1_table__col {
    flex: 1;
    padding: 0 10px;
}

.content_1_table__col--1 {
    flex: 0.75;
}

.content_1_table__col--2 {
    flex: 0.5;
    text-align: center;
    justify-content: center;
}

.content_1_table__col--3 {
    flex: 0.5;
    justify-content: center;
    text-align: center;
}

.content_1_table__col--4 {
    flex: 0.75;
}

.content_1_table__col--7 {
    flex: 0.5;
}

.content_1_table__col--6 {
    flex: 0.65;
}

.content_0_table__td_value a {
    color: #087378;
    text-decoration: none;
}

.content_0_table__td_value a:hover {
    color: inherit;
}

.page__account__x_content_1_table_x {
    padding: 0 20px;
    min-width: 1000px;
}

@media screen and (max-width:600px) {
.content_1_table__col--1 {
    flex: 0.65;
}
}