input[type="search"] {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 15px 50%;
    background-size: auto 50%;
    padding-left: 55px;
}

.page__account__x_top_0 {
    max-width: 600px;
    margin-bottom: 44px;
}

.page__account__x_content_0_table__tbody {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
}

.page__account__x_content_0_table__tbody {
    border-radius: 0 0 12px 12px;
    overflow: hidden;
}


.page__account__x_content_0_table__row {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #E4EFF3;
    padding: 16px;
}

.content_0_table__col {
    flex: 1;
    align-items: center;
    display: flex;
}

.content_0_table__user {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.content_0_table__user__image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.page__account__x_content_0_table__thead {
    background: #DEEEEF;
    border-radius: 8px 8px 0 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #087378;
}

.content_0_table__link_more {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    color: #087378;
    text-decoration: none;
    cursor: pointer;
}

.content_0_table__link_more:hover .content_0_table__link_more__text {
    max-width: 50px
}


.content_0_table__link_more__icon {
    font-size: 0;
}

.content_0_table__link_more__text {
    max-width: 0;
    overflow: hidden;
    transition: 0.35s;
}

.content_0_table__col.content_0_table__col--1 {
    flex: 1.5;
}

.content_0_table__col--5 {
    flex: 0.5;
}

.page__account__x_content_0_table__tbody .page__account__x_content_0_table__row:hover {
    background: rgba(222, 238, 239, 0.3);
}

.loaded .page__account__x_content_0_table__row {
    transition: 0.25s;
}

.page__account__x_content_0_table__top__tab a {
    color: #484848;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    border-bottom: 2px solid #087378;
    padding: 10px 2px;
    border-color: transparent;
}

.page__account__x_content_0_table__top__tab {
    display: flex;
    gap: 40px;
}

.page__account__x_content_0_table__top__tab a.active {
    border-color: #087378;
    font-weight: 700;
    font-size: 18px;
}

.page__account__x_content_0_table__top__tab a:hover {
    color: #087378;
}

.page__account__x_content_0_table__top__tab a b {
    background: #2f2f2f;
    color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.page__account__x_content_0_table__top__tab a:hover b {
    background: #087378;
}

.page__account__x_content_0_table__top {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

.page__account__x_content_0_table__top__tab {
    flex: 1;
}

.page__account__x_content_0_table__top__btn {
    background: #08757A;
    box-shadow: 0px 4px 10px rgba(8, 117, 122, 0.3);
    font-size: 0;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.page__account__x_content_0_table__top__btn:hover {
    background: #08494c;
}

.page__account__x_content_0_table__wrap {
    overflow: scroll;
    margin: 0 -20px;
    width: calc(100% + 40px);
}

.page__account__x_content_0_table_x {
    padding: 0 20px;
    min-width: 1000px;
}

.page__account__x_content_0_table__wrap::-webkit-scrollbar {
    display: none;
}

.page__account__x_content_0_table__wrap {
    -ms-overflow-style: none;
    scrollbar-width: none;
}



@media screen and (max-width:600px) {
    .page__account__x_content_0_table__thead {
        font-size: 14px;
    }
    .page__account__x_content_0_table_x {
        min-width: 700px;
    }


    .page__account__x_content_0_table__tbody {
        font-size: 14px;
    }

    .content_0_table__col {
        padding: 0 10px;
    }

    .content_0_table__col--2 {
        flex: 0.75;
        text-align: center;
        justify-content: center;
    }

    .content_0_table__col.content_0_table__col--1 {
        flex: 1.15;
    }

    .page__account__x_content_0_table__row {
        padding: 10px;
    }

    .page__account__x_top_0 .field_x_row {
        gap: 10px;
    }
}