.account__add__location {
    max-width: 725px;
}

.page__account__x__back {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    text-decoration: none;
    color: inherit;
    margin-bottom: 32px;
}

.field_x--zip--create__location {
    position: absolute;
    left: calc(100% + 20px);
}

.field_x_row--relative {
    position: relative;
}

.field_x--zip {
    flex: none;
    width: 100px;
}

.page__account__x__back:hover svg {
    transform: translate(-5px, 0);
}

.page__account__x__back svg {
    transition: 0.25s;
}

.page__account__x__back:hover {
    color: #087378;
}

.page__account__x__back:hover path {
    fill: #087378;
}

.account_task__block_1__title {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}

.account_task__block_1__list__scroll {
    overflow: scroll;
    width: auto;
    margin: 0 -20px;
}

.account_task__block_1__list__scroll::-webkit-scrollbar {
    display: none;
}

.account_task__block_1__list__scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.account_task__block_1__list {
    /* display: flex; */
    white-space: nowrap;
    padding: 0 14px;
    width: 100%;
}

.account_task__block_1__item {
    background: rgb(130 130 130 / 30%);
    border-radius: 4px;
    min-width: 175px;
    padding: 11px 20px;
    display: inline-block;
    margin: 0 8px;
}

.account_task__block_1__item--yellow {
    background: rgba(241, 176, 48, 0.3);
}

.account_task__block_1 {
    border-bottom: 1px solid #DEE3EB;
    margin-bottom: 44px;
    padding-bottom: 44px;
}

.account_task__block_1__item__title {
    font-weight: 600;
    margin-bottom: 3px;
}

.account_task__block_1__item__value {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.2;
}

.account_task__block_1__item--blue {
    background: rgba(64, 146, 181, 0.3);
}

.account_task__block_1__item--green {
    background: rgba(45, 168, 153, 0.3);
}

.account_task__block_1__item--black {
    background: #242727;
    color: #fff;
}

.btn_remove_user {
    position: absolute;
    left: calc(100% + 22px);
    width: 119px;
    background: transparent;
    align-items: center;
    display: flex;
    border: none;
    appearance: none;
    gap: 8px;
    top: 36px;
    font-weight: 500;
    color:inherit
}

.btn_remove_user svg {
    margin-top: -1px;
}

.btn_remove_user:hover {
    color: #087378;
}

.btn_remove_user:hover path {
    stroke: #087378;
}

.btn_remove_user path {
    transition: 0.25s;
}

.account_task__block_1__item:last-child {
    margin-right: 20px;
}

@media screen and (max-width:1300px) {

.btn_remove_user {
    position: absolute;
    left: auto;
    right: 0;
    top: -45px;
}
}
@media screen and (max-width:1150px) {
    .field_x--zip--create__location {
        position: static;
    }
}

@media screen and (max-width:450px) {
    .btn_remove_user svg {
        width: 16px;
        height: auto;
        margin-top: 0;
    }

    .btn_remove_user {
        font-size: 14px;
        width: auto;
        padding: 8px 15px 10px;
        border-radius: 4px;
        background: #e8e8e8;
    }
    .account__add__location .field_x_row {
        flex-direction: column;
        gap: 32px;
    }

    .field_x_row.field_x_row--adress {
        flex-direction: row;
        gap: 24px;
    }

    .field_x_row.field_x_row--adress .field_x:first-child {
        width: 100%;
        flex: none;
    }
}


