.page__account__x {
    padding: 40px 0px 100px 50px;
}

.account_x__user_edit__title {
    line-height: 1.2;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 22px;
}

.page__account__x__tab {
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.page__account__x__tab a {
    border-bottom: 2px solid #087378;
    color: #484848;
    text-decoration: none;
    padding: 8px 0px;
    border-color: transparent;
}

.page__account__x__tab a.active {
    font-weight: 700;
    font-size: 18px;

    /* identical to box height */
    color: inherit;
    border-color: #087378;
}

.page__account__x__tab a:hover {
    color: #087378;
}

.account_x__user_edit__image__avatar {
    width: 120px;
    height: 120px;
    background: #f0f0f0;
    border-radius: 50%;
    position: relative;
    margin-bottom: 8px;
}

.account_x__user_edit__image__avatar img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.account_x__user_edit__image {
    text-align: center;
    width: 120px;
    position: absolute;
    left: 0;
    top: 0;
}

.account_x__user_edit__image input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.account_x__user_edit__image__icon {
    background: #087378;
    position: absolute;
    width: 25px;
    height: 25px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    right: 5px;
    bottom: 5px;
    transition: 0.25s;
}

.account_x__user_edit__image__icon:hover {
    opacity: 0.75;
}

.account_x__user_edit__image__avatar__text {
    font-size: 14px;
}

.account_x__user_edit__form__group {
    position: relative;
    padding-left: 200px;
    max-width: 850px;
    display: flex;
    flex-direction: column;
}

.field_x_row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.field_x__title {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.field_x__field input {
    border: 1px solid #2F2F2F;
    border-radius: 4px;
    width: 100%;
    background: transparent;
    padding: 14px;
    font-weight: 600;
}

.field_x {
    flex: 1;
}

.field_x_group {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.account_x__user_edit__form__x {
    border-bottom: 1px solid #b4cfd9;
    padding-bottom: 44px;
    margin-bottom: 44px;
}

.account_x__user_edit__form__x:last-child {
    margin-bottom: 0;
    padding: 0;
    border: none;
}

.field_x--half {
    max-width: 50%;
}

.btn_field_x[disabled] {
    opacity: 0.5;
    pointer-events: none;
}

.btn_field_x {
    width: 100%;
    max-width: 178px;
}

.field_x--checkbox__view {
    border: 2px solid #2F2F2F;
    border-radius: 2px;
    width: 20px;
    height: 20px;
    position: relative;
    transition: 0.25s;
}

.field_x--checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.field_x--checkbox__view:before {
    position: absolute;
    left: 1px;
    top: 1px;
    bottom: 1px;
    right: 1px;
    margin: auto;
    content: '';
    background: #087378;
    border-radius: 2px;
    transition: 0.25s;
    opacity: 0;
}

.field_x--checkbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.field_x_checkbox__block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.field_x--checkbox input:checked+.field_x--checkbox__view:before {
    opacity: 1;
}

.field_x--checkbox input:checked+.field_x--checkbox__view {
    border-color: #087378;
    border-radius: 4px;
}

.field_x--checkbox__text {
    flex: 1;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 1.25;
    padding: 0;
    font-weight: 700;
    color: inherit;
    font-size: 15px;
}

.select2-container .select2-selection--single {
    height: auto;
    border-color: #2e2f2f;
    background: transparent;
    padding: 14px 20px;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: rgb(8 117 122 / 50%);
}

.select2-dropdown {
    background: #fafafa;
    border: 1px solid #2f2f2f;
}

.select2-results__option {
    padding: 10px 20px;
}

.select2-dropdown--above .select2-results__option:first-child {
    border-radius: 3px 3px 0 0;
}

.select2-dropdown--below .select2-results__option:lasst-child {
    border-radius: 0 0 3px 3px;
}

.select2-container--default .select2-results__option--selected {
    background: #087378;
    color: #fff;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9L12 15L18 9' stroke='%23898989' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-position: 50%;
    height: 100%;
    background-repeat: no-repeat;
    width: 48px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.page__account__x__tab__content__block {
    display: none;
}

.page__account__x__tab__content__block.active {
    display: block;
}

.field_x__field .form__field__eye {
    top: 50%;
    transform: translate(0,-50%);
}

@media screen and (max-width:1300px) {
    .page__account__x__tab__content__block--price_table {
        padding: 0 0 0 20px;
    }
}

@media screen and (max-width:1000px) {

    .select2-container .select2-selection--single {
        padding: 11px 20px;
    }
    .field_x__field input {
        padding: 12px 15px;
        font-size: 14px;
    }

    .account_x__user_edit__form__group {
        max-width: 650px;
        padding-left: 175px;
    }
}


@media screen and (max-width:600px) {

    .page__account__x__tab__content__block--price_table {
        padding: 0 0 0 0px;
    }

    .page__account__x {
        padding: 40px 0 75px;
    }

    .page__account__x__tab a.active {
        font-size: 16px;
    }

    .page__account__x__tab {
        gap: 32px;
        margin-bottom: 30px;
    }

    .account_x__user_edit__image {
        position: static;
        margin: 0;
        margin-bottom: 33px;
    }

    .account_x__user_edit__form__group {
        padding: 0;
        max-width: 450px;
    }
}

@media screen and (max-width:450px) {


    .account_x__user_edit__form__x .field_x_row {
        flex-direction: column;
        gap: 24px;
    }

    .field_x_group {
        gap: 24px;
    }
    .account_x__user_edit__title {
        margin-bottom: 24px;
    }

    .account_x__user_edit__form__x .field_x--half {
        max-width: 100%;
    }
}