.loaded .modal__menu {
    transition: 0.25s ease-in-out;
}

.modal__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    overflow: scroll;
    pointer-events: none;
    transform: translate(-100%, 0);
    max-width: 100%;
    width: 100%;
    background: #fff;
    visibility: hidden;
    color: $textColor;

    &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0%, 0);
    }
}


.loaded .modal__menu__overlay {
    transition: 0.25s ease-in-out;
}


.modal__menu__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    pointer-events: none;

    &.active {
        opacity: 1;
        z-index: 9;
        visibility: visible;
        pointer-events: all;
    }
}

.modal__menu::-webkit-scrollbar {
    display: none;
}

.modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.modal__menu__inner {
    padding: 15px 20px 30px
}


.btn__close {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 14px;
    background: 0 0;
    border: none;
    appearance: none;
}
.btn__close:after, .btn__close:before {
    width: 65%;
    height: 1.25px;
    background: #000;
    content: "";
    display: block;
    transform: rotate(45deg);
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}
.btn__close:after {
    transform: rotate(-45deg);
}

.modal__menu__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 35px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.modal__menu__list ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal__menu__list a {
    color: inherit;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.modal__menu__list a.active {
    padding-left: 14px;
    color:#087378
}
.modal__menu__list a.active:before{opacity:1}

.modal__menu__list a:hover {
    padding-left: 20px;
    color:#087378
}

.modal__menu__list a:hover:before {
    opacity:1
}
.modal__menu__list a:before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 5px;
    background: #087378;
    border-radius: 50%;
    top: 8px;
    opacity:0;
    transition:0.25sauto

}