<div class="biling_content__item active">
    <div class="biling__usage">
        <div class="biling__usage__info biling__usage__info--good">
            <div class="biling__usage__info__title">Now you’re on <b>Standard plan Status</b></div>

            <!-- biling__usage__info--normal -->
            <!-- biling__usage__info--bad -->

            <div class="biling__usage__info__value__block">
                <div class="biling__usage__info__value__line">
                    <div class="biling__usage__info__value__line__inner" style="width:25%"></div>
                </div>
                <div class="biling__usage__info__value__x"><span class="biling__usage__info__value__x__count">1200</span> of 2000 images used</div>
                <a href="" class="btn_default btn_x btn_biling__usage_upgrade">Upgrade plan now</a>
            </div>
            <div class="biling__usage__info__list">
                <p>Current billing cycle: <b>486 images</b></p>
                <p>Previous cycle: <b>896 images</b></p>
                <p>Archived images: <b>1327</b></p>
            </div>
            <a href="" class="btn_default btn_ghost btn_biling__usage_remove">Delete images</a>
        </div>
        <div class="biling__usage__graph"></div>
    </div>
</div>