<div class="biling_content__item">

    <div class="content_billing_select">
        <label class="field_x">
            <div class="field_x__field">
                <select name="" class="js_select">
                    <option value="1">Newest</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                </select>
            </div>
        </label>
    </div>

    <div class="page__account__x_content_0_table__wrap">
        <div class="page__account__x_content_1_table_x page__account__x_content_1_table_x--billing">
            <div class="page__account__x_content_0_table__thead">
                <div class="page__account__x_content_0_table__row">
                    <div class="content_billing_table__col content_billing_table__col--1">Plan</div>
                    <div class="content_billing_table__col content_billing_table__col--2">Invoice #</div>
                    <div class="content_billing_table__col content_billing_table__col--3">Period</div>
                    <div class="content_billing_table__col content_billing_table__col--4">Tasks</div>
                    <div class="content_billing_table__col content_billing_table__col--5">Total</div>
                    <div class="content_billing_table__col content_billing_table__col--6">Status</div>
                </div>
            </div>
            <div class="page__account__x_content_0_table__tbody">
                @@for (var i = 0; i < 5; i++) {
                    <div class="page__account__x_content_0_table__row">
                        <div class="content_billing_table__col content_billing_table__col--1">
                            <div class="content_1_table__td_value">Standart</div>
                        </div>
                        <div class="content_billing_table__col content_billing_table__col--2">
                            <div class="content_1_table__td_value">
                                <a href="">123456</a>
                            </div>
                        </div>
                        <div class="content_billing_table__col content_billing_table__col--3">
                            <div class="content_0_table__td_value">09-13-2022 - 10-13-2022 </div>
                        </div>
                        <div class="content_billing_table__col content_billing_table__col--4">
                            <div class="content_0_table__td_value">
                                <a href="">1020</a>
                            </div>
                        </div>
                        <div class="content_billing_table__col content_billing_table__col--5">
                            <div class="content_0_table__td_value">$560.00</div>
                        </div>
                        <div class="content_billing_table__col content_billing_table__col--6">
                            <div class="content_0_table__td_value">
                                <div class="billing_status billing_status--paid">Paid</div>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>
