.main_footer {
    background: #087378;
    padding: 40px 0;
    color: #fff;
}

.main_footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-between;
}

.main_footer__add {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
}

.main_footer__add__download {
    font-size: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.main_footer__add__download a:hover {
    transform: scale(1.02);
}

.main_footer__add__copyright {
    font-size: 14px;
}

.main_footer__menu__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    width: 375px;
    justify-content: flex-end;
}

.main_footer__menu__title {
    font-weight: 700;
    margin-bottom: 14px;
}

.main_footer__menu ul {
    list-style: none;
}

.main_footer__menu a {
    color: inherit;
    text-decoration: none;
}

.main_footer__menu li {
    margin-bottom: 7.5px;
    font-size: 15px;
}

.main_footer__menu a:hover {
    opacity: 0.5;
}

.main_footer__menu li:last-child {
    margin-bottom: 0;
}

.main_footer__menu {
    width: calc(50% - 25px);
}

@media screen and (max-width:700px) {

    .main_footer .container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .main_footer__menu__list {
        width: 100%;
        gap: 24px;
        justify-content: space-between;
    }


    .main_footer {
        padding: 32px 0;
    }

    .main_footer__add__download {
        flex-direction: row;
    }

    .main_footer__add__copyright {
        font-weight: 300;
    }

    .main_footer__add {
        gap: 28px;
    }
}