.header__logo {
    display: inline-flex;
    align-items: center;
}


.btn_menu {
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;

    span {
        background: $black;
        width: 85%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -8px);
        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 8px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}


.header_main {
    background: #FFFFFF;
    border-bottom: 1px solid #C9CFD5;
    padding: 16px 0 21px;
}

.header_main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header_menu ul {
    display: flex;
    list-style: none;
    gap: 50px;
}


.header_menu a.active {
    font-weight: bold;
}

.header_menu a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.header_menu a:after {
    content: '';
    position: absolute;
    right: -10px;
    height: 4px;
    background: #087378;
    top: calc(100% + 18px);
    left: -10px;
    border-radius: 20px;
    opacity: 0;
    transition: 0.25s;
    transform: translate(0, -10px);
}

.header__logo {
    font-size: 0;
    width: 150px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header_btn_menu {
    display: none;
}

.btn_x {
    background: #08757A;
    box-shadow: 0px 4px 10px rgba(8, 117, 122, 0.3);
    border-radius: 4px;
    font-weight: 600;
    padding: 12px 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    color: #fff;
}

.btn_header__info {
    padding: 12px 45px;
}

.header_menu {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.header_menu a.active:after {
    opacity: 1;
    transform: translate(0, 0);
}

.header_menu a:hover {
    color: #087378;
}

.header_menu a:hover:after {
    opacity: 1;
    transform: translate(0, 0);

}

.btn_x:hover {
    background: #08494c;
}

@media screen and (max-width:1000px) {

    .header_menu ul {
        gap: 32px;
    }

    .header__logo {
        width: 120px;
    }

    .btn_header__info {
        padding: 9px 40px;
        font-size: 15px;
    }

    .header_menu {
        padding-top: 0;
        font-size: 14px;
    }

    .header_menu a:after {
        height: 3px;
        top: calc(100% + 13px);
        right: -5px;
        left: -5px;
    }
}


@media screen and (max-width:700px) {
    .header_menu {
        display: none;
    }

    .header_main .container {
        gap: 20px;
    }

    .header__logo {
        width: 100px;
    }

    .header_btn_menu {
        display: flex;
        margin-left: 20px;
    }

    .btn_header__info {
        font-size: 12px;
        padding: 7px 35px;
        font-weight: 600;
    }

    .header_main {
        padding: 12px 0 12px;
    }
}


