.modal__default {
    display: none;
    padding: 0;
    max-width: 450px;
    width: 100%;
    color: $textColor;
}

.modal__inner {
    padding: 32px 50px;
}

.modal__title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    line-height: 1.25
}


.modal__default {
    display: none;
    padding: 0;
    max-width: 450px;
    width: 100%;
    color: #101a28
}

.modal__inner {
    padding: 80px 50px
}


.fancybox__slide.is-selected.has-inline {
    padding: 0
}

.modal__default {
    align-self: flex-end;
    max-width: 820px;
    width: 100%;
    min-height: 100%;
    justify-content: flex-start;
    height: 100vh;
    max-width: 820px;
    overflow: scroll;
    cursor: default
}

.carousel__button svg {
    filter: none;
    stroke: #000
}

.modal__default::-webkit-scrollbar {
    display: none
}

.modal__default {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.modal__inner {
    margin: auto;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 450px
}

.modal__text {
    text-align: center;
    margin-bottom: 28px
}

.fancybox__carousel.is-draggable .fancybox__slide .fancybox__content {
    cursor: default
}

.modal__form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.modal__text a {
    color: #087378;
    text-decoration: none
}

.modal__text a:hover {
    color: inherit;
}

.form__field__title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.form__field input {
    width: 100%;
    border: 1px solid #8b919c;
    border-radius: 8px;
    padding: 15px;
    font-family: inherit;
}

.form__row {
    display: flex;
    gap: 10px
}

.form__field {
    flex: 1
}

.form__field input:focus {
    outline: 0 !important
}

.form__field--password {
    position: relative
}

.form__field__eye {
    position: absolute;
    width: 30px;
    height: 30px;
    background-position: 50%;
    background-repeat: no-repeat;
    bottom: 10px;
    right: 13px;
    cursor: pointer;
    transition: .25s;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 12C1 12 5 4 12 4C19 4 23 12 23 12C23 12 19 20 12 20C5 20 1 12 1 12Z' stroke='%23087378' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 15C13.6569 15 15 13.6569 15 12C15 10.3431 13.6569 9 12 9C10.3431 9 9 10.3431 9 12C9 13.6569 10.3431 15 12 15Z' stroke='%23087378' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.form__field__eye:hover {
    opacity: .5
}


.form__row__text.form__row__text--forgot a {
    font-size: 14px;
    color: #07757a;
    text-decoration: none;
    width: 150px;
    text-align: right;
    display: inline-block;
}

.form__row__text.form__row__text--forgot a:hover {
    color: inherit;
}

.form__field input[type=submit],
.form__field--btn button {
    background: #ff4d00;
    box-shadow: 4px 4px 12px rgba(91, 65, 50, .07);
    border-radius: 8px;
    color: #fff;
    border: none;
    font-weight: 500;
    transition: .25s;
    background: #08757A;
    box-shadow: 0px 4px 10px rgba(8, 117, 122, 0.3);
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.form__field input[type=submit]:hover,
.form__field--btn button:hover {
    background: #000
}

.form__row__social__login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px
}

.form__row__social__login a {
    border: 2px solid #07757a;
    font-size: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%
}

.form__row__social__login a svg {
    width: 50%;
    height: 50%
}

.form__row__social__login a:hover {
    background: #07757a;
    border-color: #07757a;
}

.form__row__social__login a:hover path {
    fill: #fff
}

.form__row__social__login a path {
    transition: .25s;
    fill: #07757a;
}

.form__row__social__login__text {
    text-align: center;
    margin-bottom: -5px
}

.form__row__agree {
    text-align: center;
    font-size: 14px
}

.form__row__agree a {
    color: #485890
}

.form__row__agree a:hover {
    color: #ff4d00;
    text-decoration: none
}

.form__field__eye.visible {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_332_464)'%3E%3Cpath d='M17.94 17.94C16.2306 19.243 14.1491 19.9649 12 20C5 20 1 12 1 12C2.24389 9.68189 3.96914 7.6566 6.06 6.05999M9.9 4.23999C10.5883 4.07887 11.2931 3.99833 12 3.99999C19 3.99999 23 12 23 12C22.393 13.1356 21.6691 14.2047 20.84 15.19M14.12 14.12C13.8454 14.4147 13.5141 14.6511 13.1462 14.8151C12.7782 14.9791 12.3809 15.0673 11.9781 15.0744C11.5753 15.0815 11.1752 15.0074 10.8016 14.8565C10.4281 14.7056 10.0887 14.481 9.80385 14.1961C9.51897 13.9113 9.29439 13.5719 9.14351 13.1984C8.99262 12.8248 8.91853 12.4247 8.92563 12.0219C8.93274 11.6191 9.02091 11.2218 9.18488 10.8538C9.34884 10.4858 9.58525 10.1546 9.88 9.87999' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 1L23 23' stroke='%23A8ABAF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_332_464'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A")
}

.form__field--btn button {
    width: 100%;
    justify-content: center;
    max-width: 380px
}

.form__field.form__field--btn {
    width: 100%;
    justify-content: center;
    text-align: center
}

.form__field textarea {
    width: 100%;
    border: 1px solid #8b919c;
    border-radius: 8px;
    padding: 15px;
    height: 100px;
    resize: vertical;
    min-height: 75px
}

.form__field--file input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 0;
    padding: 0;
    height: 0;
    visibility: hidden
}

.form__field--file {
    display: flex;
    align-items: center;
    gap: 20px
}

.form__field--file__text {
    flex: 1;
    font-size: 13px;
    font-weight: 500
}

.form__field--file__btn {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    color: #ff4d00;
    gap: 10px;
    border: 2px solid;
    border: 2px solid #ff4d00;
    filter: drop-shadow(4px 4px 12px rgba(91, 65, 50, .07));
    border-radius: 8px;
    padding: 8px 31px;
    white-space: nowrap;
    transition: .25s
}

.form__field input[type=submit]:hover,
.form__field--btn button:hover {
    background: #08494c;
}

.form__row__text--forgot__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.field__checkbox input {
    position: absolute;
    opacity: 0;
    width: 0;
}

.field__checkbox input:checked+.field__checkbox__vew:before {
    opacity: 1
}

.field__checkbox {
    color: inherit;
}


.form__row__text--forgot__wrap .field__checkbox {
    flex: 1;
    width: auto;
}

.field__checkbox__vew {
    width: 25px;
    height: 25px;
    background: transparent;
    border: 2px solid #07757a;
    border-radius: 4px;
    position: relative;
}
.field__checkbox__text{flex:1}
.field__checkbox label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.field__checkbox__vew:before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='512' height='512' x='0' y='0' viewBox='0 0 511.985 511.985' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cpath d='M500.088 83.681c-15.841-15.862-41.564-15.852-57.426 0L184.205 342.148 69.332 227.276c-15.862-15.862-41.574-15.862-57.436 0-15.862 15.862-15.862 41.574 0 57.436l143.585 143.585c7.926 7.926 18.319 11.899 28.713 11.899 10.394 0 20.797-3.963 28.723-11.899l287.171-287.181c15.862-15.851 15.862-41.574 0-57.435z' fill='%2307757a' data-original='%23000000' class=''%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
    opacity: 0;
    transition: 0.25s;
}
.fancybox__content>.carousel__button.is-close {
    top: 5px;
    right: 5px;
}


@media screen and (max-width:800px) {
    .form__field input,.form__field textarea {
        padding: 13px 15px;
        font-size: 15px;
    }

}
@media screen and (max-width:550px) {


    .modal__title {
        font-size: 32px;
        margin-bottom: 12px;
    }

    .modal__inner {
        padding: 50px 20px;
        max-width: 370px;
    }
}