.home_map {
    background: #192C2D;
    padding: 88px 0 67px;
    color: #fff;
    text-align: center;
}

.home_map__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.home_map__text {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 16px;
}

.home_map__x {
    font-size: 0;
}

.home_control_panel {
    padding: 88px 0;
}

.home_control_panel__inner {
    max-width: 1090px;
    margin: 0 auto;
    position: relative;
    padding-right: 550px;
}

.home_control_panel__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    max-width: 400px;
    margin-bottom: 9px;
}

.home_control_panel__text {
    max-width: 320px;
    line-height: 1.25;
    margin-bottom: 41px;
}

.home_control_panel__list {
    gap: 16px;
    display: flex;
    flex-direction: column;
    max-width: 425px;
    position: relative;
}

.home_control_panel__item {
    background: #FFFFFF;
    border: 1px solid #E4EFF3;
    border-radius: 4px;
    padding: 13px 30px 8px;
    transition: 0.25s;
    cursor: pointer;
}

.home_control_panel__item__top {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    padding-right: 30px;
}

.home_control_panel__item_title {
    font-weight: 600;
    font-size: 18px;
    color: #087378;
    line-height: 1.25;
    margin-bottom: 6px;
    flex: 1;
    transition: 0.25s;
}

.home_control_panel__item_icon {
    width: 34px;
    transition: 0.25s;
}

.home_control_panel__item__top:after {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='25' height='24' viewBox='0 0 25 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.41846 9L12.4185 15L18.4185 9' stroke='%23087378' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    right: 0px;
    top: 4.5px;
    width: 25px;
    height: 25px;
    transition: 0.25s;
    background-position: 50%;
}

.home_control_panel__item_content {
    display: none;
    padding: 10px 0 9px;
}

.home_control_panel__item.active {
    background: #087378;
    color: #fff;
    border-color: #087378;
}

.home_control_panel__item.active .home_control_panel__item_content {
    display: block;
}

.home_control_panel__item_content__image {
    position: absolute;
    left: 541px;
    top: -98px;
    width: 549px;
    transition: 0.25s;
    transform: translate(0, 30px);
    opacity: 0;
}

.home_control_panel__item.active .home_control_panel__item_content__image {
    transform: translate(0, 0);
    opacity: 1;
}

.home_control_panel__item_content__text {
    font-size: 15px;
    max-width: 250px;
    line-height: 1.25;
}

.home_control_panel__item.active .home_control_panel__item_icon {
    filter: brightness(10)
}

.home_control_panel__item.active .home_control_panel__item_title {
    color: #fff
}

.home_control_panel__item.active .home_control_panel__item__top:after {
    filter: brightness(10);
    transform: rotate(180deg);
}



.home_control_panel__item:hover {
    background: #087378;
    color: #fff;
    border-color: #087378;
}


.home_control_panel__item:hover .home_control_panel__item_icon {
    filter: brightness(10)
}

.home_control_panel__item:hover .home_control_panel__item_title {
    color: #fff
}

.home_control_panel__item:hover .home_control_panel__item__top:after {
    filter: brightness(10);
}

.home_trust {
    background: #192C2D;
    padding: 88px 0 88px;
    text-align: center;
    color: #fff;
}

.home_trust__item__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #C5E7E8;
    margin-bottom: 20px;
    position: relative;
    padding-left: 50px;
}

.home_trust__item {
    padding: 32px 12px 19px 12px;
    text-align: left;
    border: 2px solid #DEEEEF;
    border-radius: 8px;
    width: calc(100% / 3 - 11px);
}

.home_trust__list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    max-width: 970px;
    margin: 0 auto;
}

.home_trust__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    max-width: 500px;
    margin: 0 auto 8px;
}

.home_trust__text {
    max-width: 460px;
    margin: 0 auto;
    line-height: 1.25;
    margin-bottom: 31px;
}

.home_trust__item__text {
    font-size: 14px;
    line-height: 1.25;
}

.home_trust__item__title:before {
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.6666 8L11.9999 22.6667L5.33325 16' stroke='%23DEEEEF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    left: 3px;
    width: 32px;
    height: 32px;
    top: -1px;
}

.home_insights_resources {
    padding: 88px 0 200px;
}

.home_insights_resources__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    margin-bottom: 8px;
}

.home_insights_resources__info {
    max-width: 361px;
    width: 100%;
    flex: 1;
}

.home_insights_resources__text {
    color: #484848;
    line-height: 1.25;
    margin-bottom: 45px;
}

.home_insights_resources__list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.home_insights_resources__item {
    background: #FFFFFF;
    border: 1px solid #087378;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 14px 10px;
    width: calc(100% / 2 - 8px);
    gap: 7px;
}

.home_insights_resources__item__icon {
    font-size: 0;
}

.home_insights_resources__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1090px;
    margin: 0 auto;
    align-items: flex-start;
}

.home_insights_resources__video {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    max-width: 535px;
    font-size: 0;
    margin-top: 30px;
}

.home_insights_resources__video iframe {
    width: 100%;
    height: auto;
}

.home_insights_resources__video__inner {
    padding-top: 55.5%;
    position: relative;
}

.home_insights_resources__video__inner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.home_promo__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.25;
    margin-bottom: 32px;
}

.home_promo__text {
    font-size: 16px;
    line-height: 1.25;
    color: #484848;
    margin-bottom: 32px;
}

.home_promo__info {
    max-width: 400px;
    padding: 113px 0 378px;
}

.btn_home_promo {
    width: 135px;
}

.home_promo .container {
    position: relative;
}

.home_promo__slider__block {
    position: absolute;
    left: 460px;
    top: 0;
    right: calc(-1 * (100vw - 1340px) / 2);
    border-radius: 90px 0 0 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #96D0D2;
    background-image: url(../images/pages/home/bg_promo.jpg);
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
}

.home_promo__slide.slick-slide.slick-current {
    opacity: 1;
}

.home_promo__slide {
    opacity: 0;
    transition: 0.45s;
}

.home_promo {
    margin-top: 32px;
}

.home_promo__slider__block_x {
    width: 400px;
    margin: 50px 0;
    background: #087378;
    color: #fff;
    border-radius: 0 60px 60px 0;
    padding: 72px 66px;
    margin-bottom: -30px;
}

.home_promo__slider__block_x__arrow {
    gap: 13px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.home_promo__slider__block_x__arrow button {
    background: transparent;
    appearance: none;
    border: none;
    font-size: 0;
    transition: 0.25s;
    height: 32px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home_promo__slider__block_x__arrow button:first-child:hover {
    transform: translate(-5px, 0px);
}

.home_promo__slider__block_x__arrow button:last-child:hover {
    transform: translate(5px, 0px);
}

.home_promo__slide__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 8px;
}

.home_promo__slider {
    width: 100%;
}

.home_promo__slider {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
}

.home_promo__slider.slick-initialized.slick-slider {
    opacity: 1;
    max-height: 1000px;
}

.home_promo__slide__text {
    line-height: 1.25;
}



@media screen and (max-width:1340px) {
    .home_promo__slider__block {
        right: -20px;
    }
}


@media screen and (max-width:1150px) {
    .home_control_panel__item_content__image {
        width: 470px;
    }
}

@media screen and (max-width:1050px) {

    .home_insights_resources__row {
        flex-direction: column;
        max-width: 550px;
        text-align: center;
    }

    .home_insights_resources__info {
        max-width: 100%;
    }

    .home_insights_resources__text {
        max-width: 400px;
        margin: 0 auto 40px;
    }

    .home_insights_resources__title {
        margin-bottom: 15px;
    }

    .home_insights_resources {
        padding: 75px 0 100px;
    }

    .home_insights_resources__video {
        max-width: initial;
        width: 100%;
    }

    .home_trust__item {
        width: calc(50% - 8px);
    }

    .home_map {
        padding: 65px 0 50px;
    }

    .home_control_panel__item_content__image {
        position: static;
        border-radius: 10px;
        overflow: hidden;
        margin: 20px 0;
        max-width: 500px;
        width: 100%;
        font-size: 0;
    }

    .home_control_panel__inner {
        padding-right: 0;
    }

    .home_control_panel__list {
        max-width: 100%;
    }

    .home_control_panel__item_content__text {
        max-width: 400px;
        margin: 10px 0 30px;
    }



    .home_trust__item {
        width: 100%;
        padding: 25px 15px 26px 12px;
    }

    .home_trust__title {
        font-size: 24px;
        max-width: 380px;
        line-height: 1.25;
        margin-bottom: 17px;
    }

    .home_trust__text {
        line-height: 1.35;
    }

    .home_trust {
        padding: 50px 0;
    }

    .home_trust__item__title {
        font-size: 18px;
        padding-left: 45px;
    }

    .home_trust__item__title:before {
        width: 26px;
        height: 36px;
        background-size: contain;
        background-position: 50%;
        background-repeat: no-repeat;
    }

    .home_map__title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .home_map {
        padding: 50px 00 20px;
    }

    .home_map__text {
        font-size: 14px;
        max-width: 280px;
    }

    .home_map__x {
        margin: 0 -30px;
    }

    .home_control_panel {
        padding: 50px 0;
    }

    .home_control_panel__title {
        font-size: 22px;
        max-width: 300px;
        margin-bottom: 20px;
    }

    .home_control_panel__item {
        padding: 20px 20px;
    }


    .home_promo__title {
        font-size: 28px;
    }

    .home_promo__text {
        font-size: 14px;
    }

    .home_promo__info {
        max-width: 250px;
        padding: 75px 0;
    }

    .home_promo__slider__block {
        left: 325px;
        border-radius: 50px 0 0 0;
    }

    .home_promo__slide__title {
        font-size: 18px;
    }

    .home_promo__slide__text {
        font-size: 15px;
    }

    .home_promo__slider__block_x {
        width: 350px;
        padding: 25px 30px 50px;
        border-radius: 0 35px 35px 0;
    }
}




@media screen and (max-width:750px) {
    .home_control_panel__item {
        padding: 17px 20px 13px;
    }

    .home_insights_resources__title {
        font-size: 26px;
    }

    .home_insights_resources {
        padding: 50px 0;
    }

    .home_insights_resources__text {
        font-size: 15px;
        line-height: 1.35;
    }

    .home_insights_resources__item__icon {
        height: 40px;
        width: auto;
        margin-bottom: 5px;
    }

    .home_insights_resources__item__text {
        font-size: 15px;
    }

    .home_insights_resources__video__inner {
        padding-top: 65%;
    }

    .home_insights_resources__item__icon img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .home_insights_resources__item {
        padding: 22px 10px;
    }

    .home_map__title {
        font-size: 24px;
        max-width: 275px;
    }


    .home_trust__title {
        font-size: 22px;
        max-width: 300px;
    }

    .home_trust__item__title {
        font-size: 17px;
        max-width: 275px;
    }
}


@media screen and (max-width:700px) {
    .home_promo .container {
        flex-direction: column;
    }

    .home_promo__info {
        max-width: 280px;
        padding: 12px 0 50px;
    }

    .home_promo__slider__block {
        position: static;
        margin: 0 -20px;
        border-radius: 0;
    }


    .home_promo__slider__block_x {
        margin: 55px 0;
        max-width: 350px;
        width: 100%;
    }

    .home_promo__text {
        font-size: 16px;
        margin-bottom: 26px;
        line-height: 1.35;
    }

    .home_promo__title {
        font-size: 30px;
        margin-bottom: 24px;
    }

    .btn_home_promo {
        width: 100%;
        max-width: 200px;
    }
}