.error_page {
    background: #087378;
    min-height: 100vh;
    color: #fff;
}

.error_page__title {
    font-weight: 900;
    font-size: 180px;
    line-height: 1;
    color: #96D0D2;
    margin-bottom: 10px;
}

.error_page__inner {
    max-width: 736px;
    margin: 50px auto;
    padding: 120px 30px;
    text-align: center;
    border: 8px solid #96D0D2;
    width: 100%;
    position: relative;
}

.error_page__wrap {
    min-height: 100vh;
    display: flex;
}

.error_page__wrap .container {
    height: 100%;
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.error_page__status {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 12px;
}

.btn_white {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #087378;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(8, 117, 122, 0.3);
    border-radius: 4px;
    padding: 14px 35px;
    display: inline-flex;
}

.error_page__text {
    margin-bottom: 20px;
    font-size: 16px;
}

.error_page__inner:before,
.error_page__inner:after {
    content: '';
    position: absolute;
    width: 20px;
    height: auto;
    top: 15%;
    bottom: 15%;
    background: #067378;
    left: -10px;
}

.error_page__inner:after {
    right: -10px;
    left: auto;
}

.btn_white:hover {
    opacity: 0.8;
}




@media screen and (max-width:1000px) {

    .error_page__title {
        font-size: 110px;
        line-height: 1.1;
    }

    .error_page__inner {
        max-width: 500px;
        width: 100%;
        padding: 50px 10px 60px;
        margin: 35px auto;
    }

    .error_page__status {
        font-size: 20px;
        margin-bottom: 7px;
    }

    .error_page__text {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .btn_error_page {
        padding: 10px 30px 12px;
        width: 100%;
        max-width: 230px;
        justify-content: center;
    }

}