.page__help__form {
    background: #FFFFFF;
    border: 1px solid #DEE3EB;
    border-radius: 8px;
    padding: 40px;
    max-width: 870px;
    margin: 0 auto;
}

.page__help {
    margin-top: -70px;
    margin-bottom: 90px;
}

.page__help__form__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.35;

    /* Green_dark */
    color: #08757A;
    text-align: center;
    margin-bottom: 10px;
}

.page__help__form__text {
    text-align: center;
    margin-bottom: 32px;
}

.page__help__form__x {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 650px;
    margin: 0 auto;
}

.form__row.form__row--agree_help {
    justify-content: center;
}

.form__row.form__row-btn {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
}

.page__help__form__x__add__text {
    margin-top: 32px;
    text-align: center;
    font-size: 14px;
}

.page__help__form__x__add__text a {
    color: #07757a;
}

.page__help__form__x__add__text a:hover {
    text-decoration: none;
    color: inherit;
}

.page__help__faq {
    background: rgba(8, 115, 120, 0.04);
    padding: 80px 0;
}

.page__help__faq__title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 44px;
}

.page__help__faq__block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    max-width: 1100px;
    margin: 0 auto;
}

.page__help__faq__block__tabs {
    flex-direction: column;
    display: flex;
    width: 320px;
}

.page__help__faq__block__tabs a {
    color: inherit;
    padding: 16px;
    text-decoration: none;
    position: relative;
    box-shadow: inset 0px -0.5px 0px #dee3eb;
}

.page__help__faq__block__tabs a.active {
    background: rgba(8, 115, 120, 0.04);
    font-weight: bold;
    color: #087378;
}

.page__help__faq__block__tabs a:hover {
    background: rgba(8, 115, 120, 0.04);
    font-weight: bold;
    color: #087378;
}

.page__help__faq__block__content {
    flex: 1;
}

.page__help__faq__block__tabs a:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    background: #087378;
    transition: 0.25s;
    opacity: 0;
}

.page__help__faq__block__tabs a.active:after {
    opacity: 1;
}

.page__help__faq__block__tabs a:hover:after {
    opacity: 1;
}

.page__help__faq__x {
    background: #FFFFFF;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 16px 32px;
}

.page__help__faq__x__content {
    display: none;
}

.page__help__faq__x__title {
    font-weight: 600;
    padding-right: 75px;
    transition: 0.25s;
}

.page__help__faq__x__top {
    display: flex;
    position: relative;
    cursor: pointer;
}

.page__help__faq__x__btn {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.page__help__faq__block__content__item.active {
    display: block;
}

.page__help__faq__block__content__item {
    display: none;
}

.page__help__faq__x__btn:before,
.page__help__faq__x__btn:after {
    content: '';
    position: absolute;
    width: 15px;
    height: 2px;
    background: #2F2F2F;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transition: 0.25s;
    border-radius: 10px;
}

.page__help__faq__x__btn:after {
    height: 15px;
    width: 2px;
}

.page__help__faq__x__top:hover .page__help__faq__x__title {
    color: #07757a
}

.page__help__faq__x__content {
    padding: 20px 0;
    font-size: 14px;
    max-width: 640px;
}

.page__help__faq__x__content>* {
    margin-bottom: 20px;
}

.page__help__faq__x.active .page__help__faq__x__title {
    color: #087378;
    font-weight: 700;
}

.page__help__faq__x__content ul,
.page__help__faq__x__content ol {
    padding-left: 35px;
}

.page__help__faq__x__content li {
    margin-bottom: 6px;
}

.page__help__faq__x__content li:last-child {
    margin-bottom: 0;
}

.page__help__faq__x__content>*:last-child {
    margin-bottom: 0;
}

.page__help__faq__x.active .page__help__faq__x__btn:after {
    opacity: 0;
}

.page__help__faq__x.active .page__help__faq__x__btn:before {
    background: #08494c;
}





@media screen and (max-width:800px) {

    .page__help {
        margin-top: -55px;
        margin-bottom: 50px;
    }

    .page__help__form {
        padding: 30px;
    }

    .page__help__form__title {
        font-size: 22px;
    }

    .page__help__form__text {
        max-width: 220px;
        margin: 0 auto 30px;
        font-size: 15px;
    }

    .page__help__faq {
        padding: 50px 0;
    }

    .page__help__faq__title {
        font-size: 22px;
    }

    .page__help__faq__block__tabs {
        width: 200px;
    }

    .page__help__faq__block__tabs a {
        font-size: 14px;
        padding: 12px 7.5px;
    }
}



@media screen and (max-width:700px) {
    .page__help__faq__block__tabs {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 6px;
    }

    .page__help__faq__block__tabs a {
        padding: 8px 18px;
        box-shadow: inset 0 -0.5px 20px #dee3eb;
    }

    .page__help__faq__x:last-child {
        margin-bottom: 0;
    }

    .page__help__faq__x__title {
        font-size: 16px;
        padding-right: 28px;
        width: 100%;
    }

    .page__help__faq__x {
        padding: 15px 16px;
        margin-bottom: 12px;
    }

    .page__help__faq__x__btn {
        right: -4px;
    }

    .page__help__faq__x__content {
        font-size: 13px;
        padding-top: 15px;
    }

    .page__help__faq__x__content>* {
        margin-bottom: 18px;
    }
}



@media screen and (max-width:550px) {

    .page__help {
        margin-top: 0;
        margin-bottom: 32px;
    }

    .page__help__form__x .form__row {
        flex-direction: column;
        gap: 20px;
    }

    .page__help__form__x {
        gap: 20px;
    }

    .form__field__title {
        font-size: 14px;
        margin-bottom: 8px;
    }


    .page__help__form__x .field__checkbox__text {
        font-size: 15px;
    }

    .page__help__form {
        padding: 30px 20px;
    }

    .page__help__form__x__add__text br {
        display: none;
    }

    .page__help__faq {
        padding: 32px 0;
    }

    .page__help__faq__title {
        font-size: 20px;
        margin-bottom: 32px;
    }

    .page__help__form__title {
        font-size: 21px;
    }
}