body.--dark {
    background: #2F2F2F;
    color: #fff;
}

body.--dark {

    .error_page__inner:after,
    .error_page__inner:before {
        background: #2f2f2f;
    }

    .btn_error_page {
        color: #fff;
        background: #087378;
    }

    .page__account__bar {
        background: #242424;
    }

    .page__account__top__notification {
        background: #FFE8B5;
    }

    .page__account__x__back path {
        fill: #fff;
    }

    .field_x__field input {
        background: #fff;
        border-color: #fff;
    }

    .select2-container .select2-selection--single {
        background: #fff;
        color: #2e2f2f;
    }

    .btn_remove_user {}

    .btn_remove_user path {
        stroke: #fff;
    }

    .select2-dropdown {
        color: #2f2f2f;
    }

    .account_task__block_1__item--black {
        background: #1b1d1d;
    }

    .account_task__block_1__item--green {
        background: rgba(45, 168, 153, .6);
    }

    .account_task__block_1__item--blue {
        background: rgba(64, 146, 181, .6);
    }

    .account_task__block_1__item--yellow {
        background: rgba(241, 176, 48, .6);
    }

    .page__account__top__help a path {
        stroke: #fff;
    }

    .btn_menu span {
        background: #fff;
    }

    .page__account__x__tab a {
        color: #fff;
        opacity: 0.5;
    }

    .page__account__x__tab a.active {
        opacity: 1;
    }


    .price_x_table__tbody .price_x_col__row {
        background: #242424;
        color: #fff;
    }

    .price_x_col.price_x_col--1.price_x_col--title {
        background: #1f1f1f;
        color: #fff;
    }

    .price_x_col__row {
        border-bottom: 1px solid #444;
    }

    .price_x_table__thead .price_x_col {
        border: 1px solid #444;
        border-bottom: none;
    }

    .price_x_th {
        border-radius: 0;
    }

    .price_x_table__tbody {
        border-radius: 0;
    }

    .field_x--checkbox__view {
        border-color: #fff;
    }

    .page__account__x_content_0_table__tbody {
        background: #242424;
    }

    .page__account__x_content_0_table__row {
        border-bottom-color: #101010;
    }

    .page__account__x_content_0_table__thead {
        background: #191919;
        color: #fff;
    }

    .content_0_table__link_more {
        color: #fff;
    }

    .content_0_table__link_more path {
        fill: #fff;
    }

    .page__account__x_content_0_table__top__tab a {
        color: #fff;
    }

    .field_x__field input[type=search] {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 19C15.4183 19 19 15.4183 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11C3 15.4183 6.58172 19 11 19Z' stroke='%232F2F2F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M21 21L16.65 16.65' stroke='%232F2F2F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 10px 50%;
    }

    .content_0_table__td_value a {
        color: #28b1b8;
    }

    .btn_dark_mode {
        border-color: #ffe8b5;
    }

    .btn_dark_mode path {
        fill: #ffe8b5;
    }

    .biling_pay_method_content__pay_x_item__inner {
        color: #2f2f2f;
    }



    .page__account__top__user__modal {
        background: #242424;
        box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
        border-color: transparent;
    }

    .page__account__top__user__modal__logout path {
        stroke: #fff;
    }
}