<!-- start footer -->

<footer class="main_footer">
    <div class="container">
        <div class="main_footer__add">
            <div class="main_footer__add__download">
                <a href="" tarrget="_blank">
                    <img src="images/icons/download/apple.svg">
                </a>
                <a href="" tarrget="_blank">
                    <img src="images/icons/download/android.svg">
                </a>
            </div>
            <div class="main_footer__add__copyright">© 2023 Proofactive All rights reserved</div>
        </div>
        <div class="main_footer__menu__list">
            <div class="main_footer__menu">
                <div class="main_footer__menu__title">Resources</div>
                <ul>
                    <li><a href="">Company</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Developers/ APLs</a></li>
                </ul>
            </div>
            <div class="main_footer__menu">
                <div class="main_footer__menu__title">Brand Assets</div>
                <ul>
                    <li><a href="">Proof Docs</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Server Status</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


@@include('modal.html')