<div class="js__modal__menu modal__menu">
    <div class="modal__menu__inner">

        <div class="modal__menu__top">
            <a href="" class="header__logo">
                <img src="images/_logo.svg" alt="main logo">
            </a>
            <a href="" class="btn_default btn_x btn_header__info">Sign in</a>
            <button class="modal__menu__btn_close btn__close js_modal__menu__btn_close"></button>
        </div>


        <div class="modal__menu__list">
            <ul>
                <li><a href="" class="active">Features</a></li>
                <li><a href="">Pricing</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Support</a></li>
            </ul>
        </div>

    </div>
</div>




<div id="js_modal_login" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__title">Sign in</div>
        <div class="modal__text">New to <b>Proofactive?</b> <a href=""><b>Create an account </b></a></div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Email</div>
                    <input type="email" name="email" required placeholder="Your email">
                </label>
            </div>

            <div class="form__row">
                <label class="form__field js_form__field--password form__field--password">
                    <div class="form__field__title">Password</div>
                    <input type="password" name="password" required placeholder="Password">
                    <div class="form__field__eye"></div>
                </label>
            </div>

            <div class="form__row__text form__row__text--forgot">
                <div class="form__row__text--forgot__wrap">
                    <div class="field__checkbox">
                        <label>
                            <input type="checkbox" name="agree">
                            <div class="field__checkbox__vew"></div>
                            <div class="field__checkbox__text">Keep me signed in</div>
                        </label>
                    </div>
                    <a class='modal_forgot__link' href=""><b>Forgot your password?</b></a>
                </div>
            </div>

            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Sign in">
                </div>
            </div>

            <div class="form__row__social__login__text">or sign in with</div>
            <div class="form__row__social__login">
                <a href="">
                    <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 0H8C6.67392 0 5.40215 0.526784 4.46447 1.46447C3.52678 2.40215 3 3.67392 3 5V8H0V12H3V20H7V12H10L11 8H7V5C7 4.73478 7.10536 4.48043 7.29289 4.29289C7.48043 4.10536 7.73478 4 8 4H11V0Z" fill="#042D67"/>
                    </svg>
                </a>
                <a href="">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.4102 8.12639C16.2734 8.12484 13.1366 8.12562 9.99981 8.12598C10.0002 9.42703 9.99827 10.7281 10.0006 12.0287C11.8172 12.0283 13.6338 12.028 15.45 12.0287C15.2395 13.2755 14.4986 14.4156 13.4479 15.1175C12.7874 15.5616 12.0285 15.8498 11.2461 15.9869C10.4587 16.1213 9.64513 16.1385 8.85968 15.9795C8.06094 15.8201 7.29849 15.4873 6.63336 15.0182C5.5698 14.271 4.75814 13.1778 4.34139 11.9474C3.91525 10.696 3.91212 9.30355 4.34334 8.05331C4.64254 7.17213 5.14054 6.35815 5.79474 5.69574C6.60169 4.86964 7.65082 4.27909 8.78115 4.03692C9.74902 3.83031 10.7696 3.86974 11.7172 4.15642C12.5226 4.40095 13.2651 4.84228 13.8732 5.42308C14.488 4.8118 15.0997 4.19702 15.7133 3.58461C16.0351 3.25496 16.3734 2.93975 16.6851 2.60113C15.7531 1.73869 14.6607 1.04543 13.467 0.607179C11.318 -0.183718 8.89443 -0.200505 6.73099 0.548282C4.29294 1.38295 2.21697 3.20619 1.06594 5.51067C0.665213 6.30474 0.37264 7.1523 0.196885 8.02408C-0.245266 10.1961 0.0629148 12.5119 1.06477 14.4902C1.71588 15.7815 2.64936 16.9294 3.78169 17.8293C4.84996 18.6812 6.09512 19.3104 7.41531 19.6616C9.08116 20.1084 10.8544 20.0982 12.5312 19.7167C14.0467 19.3679 15.4805 18.6437 16.6253 17.5868C17.8354 16.4748 18.6985 15.0097 19.1555 13.4352C19.6539 11.7179 19.7227 9.88442 19.4102 8.12639Z" fill="#042D67"/>
                    </svg>
                </a>
            </div>


        </form>
    </div>
</div>




<div id="js_modal_reset_password" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__title">Reset password</div>
        <div class="modal__text">Please enter your email address. You will receive an email message with instructions on how to reset your password.</div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Email</div>
                    <input type="email" name="email" required placeholder="Your email">
                </label>
            </div>


            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>


<div id="js_modal_thank_you" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__title">Thank you!</div>
        <div class="modal__text">We sent a message to email@email, so you can choose your new password.</div>

        <div class="form__field form__field--btn">
            <button class="js__btn_close__modal btn_default btn_x">Submit</button>
        </div>
    </div>
</div>





<div id="js_modal_reset_password_2" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__title">Reset password</div>
        <div class="modal__text">Pick new password, please.</div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field js_form__field--password form__field--password">
                    <div class="form__field__title">Password</div>
                    <input type="password" name="password" required placeholder="Password">
                    <div class="form__field__eye"></div>
                </label>
            </div>



            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>



<div id="js_modal_reset_password_thank" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__title">Password changed!</div>
        <div class="modal__text">Your password has been changed successfully!</div>

        <div class="form__field form__field--btn">
            <button class="js__btn_close__modal btn_default btn_x">Submit</button>
        </div>
    </div>
</div>






<div id="js_modal_register" class="modal__default modal__login">
    <div class="modal__inner">
        <div class="modal__title">Create an account</div>
        <div class="modal__text">Already have an <b>account?</b> <a href=""><b>Register now</b></a></div>

        <form action="javascript:void(0)" class="modal__form js_modal__form">
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Full name</div>
                    <input type="text" name="name" required placeholder="Your name">
                </label>
            </div>
            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Email</div>
                    <input type="email" name="email" required placeholder="Your email">
                </label>
            </div>

            <div class="form__row">
                <label class="form__field">
                    <div class="form__field__title">Company name</div>
                    <input type="text" name="company_name"  placeholder="Company name">
                </label>
            </div>

            <div class="form__row">
                <label class="form__field js_form__field--password form__field--password">
                    <div class="form__field__title">Password</div>
                    <input type="password" name="password" required placeholder="Password">
                    <div class="form__field__eye"></div>
                </label>
            </div>


            <div class="form__row form__row-btn">
                <div class="form__field form__field--btn">
                    <input type="submit" value="Create account">
                </div>
            </div>

            <div class="form__row__social__login__text">or create with</div>
            <div class="form__row__social__login">
                <a href="">
                    <svg width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M11 0H8C6.67392 0 5.40215 0.526784 4.46447 1.46447C3.52678 2.40215 3 3.67392 3 5V8H0V12H3V20H7V12H10L11 8H7V5C7 4.73478 7.10536 4.48043 7.29289 4.29289C7.48043 4.10536 7.73478 4 8 4H11V0Z" fill="#042D67"/>
                    </svg>
                </a>
                <a href="">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M19.4102 8.12639C16.2734 8.12484 13.1366 8.12562 9.99981 8.12598C10.0002 9.42703 9.99827 10.7281 10.0006 12.0287C11.8172 12.0283 13.6338 12.028 15.45 12.0287C15.2395 13.2755 14.4986 14.4156 13.4479 15.1175C12.7874 15.5616 12.0285 15.8498 11.2461 15.9869C10.4587 16.1213 9.64513 16.1385 8.85968 15.9795C8.06094 15.8201 7.29849 15.4873 6.63336 15.0182C5.5698 14.271 4.75814 13.1778 4.34139 11.9474C3.91525 10.696 3.91212 9.30355 4.34334 8.05331C4.64254 7.17213 5.14054 6.35815 5.79474 5.69574C6.60169 4.86964 7.65082 4.27909 8.78115 4.03692C9.74902 3.83031 10.7696 3.86974 11.7172 4.15642C12.5226 4.40095 13.2651 4.84228 13.8732 5.42308C14.488 4.8118 15.0997 4.19702 15.7133 3.58461C16.0351 3.25496 16.3734 2.93975 16.6851 2.60113C15.7531 1.73869 14.6607 1.04543 13.467 0.607179C11.318 -0.183718 8.89443 -0.200505 6.73099 0.548282C4.29294 1.38295 2.21697 3.20619 1.06594 5.51067C0.665213 6.30474 0.37264 7.1523 0.196885 8.02408C-0.245266 10.1961 0.0629148 12.5119 1.06477 14.4902C1.71588 15.7815 2.64936 16.9294 3.78169 17.8293C4.84996 18.6812 6.09512 19.3104 7.41531 19.6616C9.08116 20.1084 10.8544 20.0982 12.5312 19.7167C14.0467 19.3679 15.4805 18.6437 16.6253 17.5868C17.8354 16.4748 18.6985 15.0097 19.1555 13.4352C19.6539 11.7179 19.7227 9.88442 19.4102 8.12639Z" fill="#042D67"/>
                    </svg>
                </a>
            </div>

        </form>
    </div>
</div>
