<div class="account_x__user_edit">
    <div class="account_x__user_edit">
        <div class="account_x__user_edit__title">Personal information</div>

        <div class="account_x__user_edit__form__group">
            <div class="account_x__user_edit__form__x">
                <form action="" class="account_x__user_edit__form">

                    <div class="account_x__user_edit__image js_account_x__user_edit__image">
                        <label>
                            <input type="file" name="avatar">
                            <div class="account_x__user_edit__image__avatar">
                                <img src="images/__content/myaccount/avatar.jpg" alt="">
                                <div class="account_x__user_edit__image__icon">
                                    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.68066 1.91479V12.1276" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M1.57422 7.02124H11.787" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="account_x__user_edit__image__avatar__text">Edit photo</div>
                        </label>
                    </div>

                    <div class="field_x_group">
                        <div class="field_x_row">
                            <label class="field_x">
                                <div class="field_x__title">Your name</div>
                                <div class="field_x__field">
                                    <input type="text" name="name" required value="Mike McGill">
                                </div>
                            </label>
                            <label class="field_x">
                                <div class="field_x__title">Company name</div>
                                <div class="field_x__field">
                                    <input type="text" name="company" required>
                                </div>
                            </label>
                        </div>

                        <div class="field_x_row">
                            <label class="field_x">
                                <div class="field_x__title">Phone</div>
                                <div class="field_x__field">
                                    <input type="tel" name="phone" required>
                                </div>
                            </label>
                            <label class="field_x">
                                <div class="field_x__title">Email</div>
                                <div class="field_x__field">
                                    <input type="email" name="email" required>
                                </div>
                            </label>
                        </div>

                        <div class="field_x_row">
                            <label class="field_x">
                                <div class="field_x__title">Location</div>
                                <div class="field_x__field">
                                    <select name="" id="" class="js_select">
                                        <option value="">Option default</option>
                                        <option value="1">Option 1</option>
                                        <option value="2">Option 2</option>
                                        <option value="3">Option 3</option>
                                    </select>
                                </div>
                            </label>
                        </div>

                        <div class="field_x_row field_x_row--btn">
                            <div class="field_x field_x--btn">
                                <button class="btn_default btn_x btn_field_x" disabled>Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="account_x__user_edit__form__x">
                <form action="" class="account_x__user_edit__form">
                    <div class="account_x__user_edit__title">Password</div>
                    <div class="field_x_group">
                        <div class="field_x_row">
                            <label class="field_x field_x--half">
                                <div class="field_x__title">Your name</div>
                                <div class="field_x__field js_form__field--password form__field--password">
                                    <input type="password" name="password" required placeholder="Password">
                                    <div class="form__field__eye"></div>
                                </div>
                            </label>
                        </div>

                        <div class="field_x_row field_x_row--btn">
                            <div class="field_x field_x--btn">
                                <button class="btn_default btn_x btn_field_x" disabled>Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="account_x__user_edit__form__x">
                <form action="" class="account_x__user_edit__form">
                    <div class="account_x__user_edit__title">Email notifications</div>
                    <div class="field_x_group">
                        <div class="field_x_row">
                            <div class="field_x_checkbox__block">
                                <label class="field_x--checkbox">
                                    <input type="checkbox" name="" id="">
                                    <div class="field_x--checkbox__view"></div>
                                    <div class="field_x--checkbox__text">News about Buffet.com</div>
                                </label>
                                <label class="field_x--checkbox">
                                    <input type="checkbox" name="" id="">
                                    <div class="field_x--checkbox__view"></div>
                                    <div class="field_x--checkbox__text">Booking confirmations</div>
                                </label>
                                <label class="field_x--checkbox">
                                    <input type="checkbox" name="" id="">
                                    <div class="field_x--checkbox__view"></div>
                                    <div class="field_x--checkbox__text">Important updates from Buffet.com</div>
                                </label>
                            </div>
                        </div>

                        <div class="field_x_row field_x_row--btn">
                            <div class="field_x field_x--btn">
                                <button class="btn_default btn_x btn_field_x" disabled>Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>